footer {
  min-height: 400px;
  background-color: rgb(0, 32, 22);
}

.footer-content {
  background-color: rgb(13, 0, 43);
  min-height: 260px;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
}

.seperator {
  border-top: 2px solid rgb(255, 255, 0);
}

.footer-extra {
  min-height: 90px;
  background-color: #310812;
}

.footer-details {
  background-color: #10372981;
  flex-grow: 1;
  max-width: 620px;
}

.footer-spacer {
  background-color: #10372981;
  min-width: 50px;
  min-width: 50px;
  flex-grow: 1;
}

.footer-about-links {
  background-color: #10372981;
  min-width: 50px;
  min-width: 50px;
}

.footer-page-links {
  background-color: #10372981;
  min-width: 50px;
  min-width: 50px;
}

.footer-contact-links {
  background-color: #10372981;
  min-width: 50px;
  min-width: 50px;
}

.footer-extra {
  background-color: #10372981;
  min-width: 50px;
  min-width: 50px;
}

@media screen and (max-width: 600px) {
  .footer-content {
    flex-direction: column;
  }
}